<% if @comment.errors.any? %>
  <h4>We have some errors here !</h4>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <hr>
<% end %>

<%= form_for [@post, @comment], {remote: true} do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Update" %>
<% end %>