<% if @comment.errors.any? %>
  <h4>We have some errors here !</h4>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <hr>
<% end %>

<div class="col-md-10">
<%= form_for [@post, @comment], {remote: true} do |f| %>
  <p><%= f.text_area :content, class: "form-control", rows: "5" %></p>
  <p><%= f.submit "Update", class: "btn btn-primary" %></p>
<% end %>
</div>