// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.post-content-item {
  border-style: solid;
  border-width: thin;
  padding: 5px;
  background: rgb(230,230,230);
}

.post-comment-item {
  border-style: solid;
  border-top: 0px;
  border-width: thin;
  padding: 5px;
}

.post-title {
  margin: 0px;
  padding: 5px;
  background: red;
}