// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-container-fluid {
  background: rgb(240, 240, 240);
  padding: 20px;
}

.profile-container-fluid {
  margin: 0;
}